
<br>

<p>{{{report_download_welcome}}}</p>

<!--<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary pull-right" data-role="metadata">
            <i class="fa fa-info-circle"></i> {{metadata}}
        </button>
    </div>
</div>-->

<br>

<div data-role="report_selectors"></div>

<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-primary pull-right" data-role="export">
            <i class="fa fa-download"></i> {{download_report}}
        </button>
        <button class="btn btn-info pull-right" data-role="preview" style="margin-right:5px;">
            <i class="fa fa-search"></i> {{preview}}
        </button>
    </div>
</div>

<br>
<br>
<br>

<div data-role='table' style="font-size:12px;"></div>
