
<p>{{{report_download_welcome}}}</p>

<div data-role="report_selectors"></div>

<div class='row'>
    <div class='col-lg-12'>
        <button class="btn btn-primary pull-right" data-role='export'>
            <i class="fa fa-download"></i> {{download_report}}
        </button>
        <span>
            <button class='btn btn-primary pull-right' data-role='preview'>
            <i class='fa fa-search'></i> {{preview}}
            </button>
        </span>
    </div>
</div>

<div data-role='table' style="padding-top:35px;"></div>
