
<div id='report_selectors'></div>

<div class='row'>

    <div class='col-md-2 pull-right'>
        <button class='btn btn-primary pull-right' id='preview_button'>
            <i class='fa fa-search'></i> Export{{preview_label}}
        </button>
    </div>
    <div class='col-md-2 pull-right'>
        <span id='download_options_placeholder' class='pull-right'></span>
        <button class='btn btn-primary pull-right' id='preview_button'>
            <i class='fa fa-search'></i> Preview{{preview_label}}
        </button>
    </div>
</div>

<div data-role='table'></div>
