
<div class="panel panel-default hoverable">
    <div class="panel-body">

        <div data-role="report_selectors"></div>

        <div class="fs-download-options">

            <div class="panel-body">

                <div class="row fs-download-options-buttons">

                    <div class="hidden-xs col-sm-4">
                        <!--<a class="btn btn-link btn-block" target="_blank" href="https://en.wikipedia.org/wiki/Comma-separated_values"><i class="material-icons">info_outline</i>{{what_is_a_csv}}</a>-->
                    </div>

                    <div class="col-xs-6 col-sm-4">
                        <button class="btn btn-primary btn-block waves-effect truncate" data-role="preview">
                            <i class="material-icons left">search</i>
                            {{show_data}}Show Data
                        </button>
                    </div>

                    <div class="col-xs-6 col-sm-4">
                        <button class="btn btn-default btn-block waves-effect waves-light truncate" data-role="export">
                            <i class="material-icons left">file_download</i>
                            {{download_data}}
                        </button>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<br>
<br>
<br>

<div data-role='table' style="font-size:9px;"></div>
